body {
    display: flex;
}
h2 {
    text-decoration: underline;
    color:midnightblue
}
#name {
    text-align: center;

    border: solid grey;
    color:darkgreen;
    margin-bottom: 50px;
}

td {
    border:3px solid grey;
    text-align: center;
    color:midnightblue;
}
#report {
    border:3px solid grey;
    text-align: center;
    color:darkred;
    margin: 0px;
    
}
#report_text {
    border:3px solid grey;
    text-align: center;
    color:black;
    margin: 0px;
}
th {
    border-bottom:3px solid grey;
}
#no_border {
    border: 0px;
}
#menu {
    border-right: 3px solid grey;
}
#result {
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 5%;
}

table {
    border: 1px solid green;
    border-collapse: collapse;
}
